Repository tguichaoua/djs-slash: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Feat(SlashCommand): option `channelTypes` field (#11)
  example/src/commands/slash/hello.ts
  src/SlashCommandCallback.ts
  src/SlashCommandOptions.ts
  src/SlashCommandOptionsType.ts
Due: eslint --cache --fix

🚚 put callback s into their own folder
  src/callbacks/MessageCommandCallback.ts
  src/callbacks/SlashCommandCallback.ts
  src/callbacks/UserCommandCallback.ts
  src/callbacks/index.ts
  src/command/MessageCommand.ts
  src/command/SingleSlashCommand.ts
  src/command/SlashCommand.ts
  src/command/UserCommand.ts
  src/data/MessageCommandData.ts
  src/data/SlashCommandData.ts
  src/data/UserCommandData.ts
  src/index.ts
Due: eslint --cache --fix

🩹 fix exports
  src/SlashCommandManager.ts
  src/command/MessageCommand.ts
  src/command/UserCommand.ts
  src/data/index.ts
Due: eslint --cache --fix

Architecture changes (#12)
  src/SlashCommandManager.ts
  src/callbacks/MessageCommandCallback.ts
  src/callbacks/SlashCommandCallback.ts
  src/callbacks/UserCommandCallback.ts
  src/callbacks/index.ts
  src/command/MessageCommand.ts
  src/command/SingleSlashCommand.ts
  src/command/SlashCommand.ts
  src/command/UserCommand.ts
  src/data/MessageCommandData.ts
  src/data/SlashCommandData.ts
  src/data/UserCommandData.ts
  src/data/index.ts
  src/index.ts
Due: eslint --cache --fix

➕ is-ci
  package-lock.json
  package.json
Due: prettier --write

🔨 use is-ci on prepare script
  package.json
Due: prettier --write

Ci: use is-ci in `prepare` script (#13)
  package-lock.json
  package.json
Due: prettier --write

doc(Readme): update description
  README.md
Due: none

update the 'how to use' section
  README.md
Due: none

package: update description and keywords
  package.json
Due: prettier --write

Readme: fix typo
  README.md
Due: none

doc: update doc (#14)
  README.md
  package.json
Due: prettier --write

🔖 bump version
  package-lock.json
  package.json
Due: prettier --write

release: 0.2.0 (#15)
  package-lock.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

Path conditions:
  eslint --cache --fix: any of: *.ts
  prettier --write: any of: *.json
