Repository tguichaoua/djs-slash: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

📄 add LICENSE
  LICENSE
Due: none

⬆️ discord.js
  package-lock.json
  package.json
Due: prettier --write

👽️ discord.js api change
  src/command/GroupSlashCommand.ts
Due: eslint --cache --fix

🔧 fix peer dependencies version
  package.json
Due: prettier --write

♻️ rename 'handler' -> 'command'
  src/SlashCommandManager.ts
Due: eslint --cache --fix

⬆️ @types/node
  package-lock.json
  package.json
Due: prettier --write

🔖 0.0.2
  package-lock.json
  package.json
Due: prettier --write

⬆️ update nodejs to >=16.6.0
  package-lock.json
  package.json
Due: prettier --write

⬆️ upgrade discord.js to 13.0.0
  package-lock.json
  package.json
Due: prettier --write

🔧 ts target to es2021
  tsconfig.json
Due: prettier --write

📝 update the example project
  example/package-lock.json
  example/package.json
  example/tsconfig.json
Due: prettier --write

👽️ fix djs api related issue
  example/src/commands/picture.ts
Due: eslint --cache --fix

🔧 update workflow to use nodejs 16
  .github/workflows/npmpublish.yml
  .github/workflows/test.yml
Due: none

Use discord.js v13 (#2)
  .github/workflows/npmpublish.yml
  .github/workflows/test.yml
  example/package-lock.json
  example/package.json
  example/src/commands/picture.ts
  example/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

✨ command options object is never if no options is provided
  src/command/SlashCommand.ts
Due: eslint --cache --fix

✨ accept ApplicationCommandOptionTypes for command options
  src/SlashCommandOptionsType.ts
  src/command/SingleSlashCommand.ts
Due: eslint --cache --fix

feat(SlashCommandCallback): command options object is never if no options is provided (#3)
  src/command/SlashCommand.ts
Due: eslint --cache --fix

✨ update SlashCommandOptionsData with ApplicationCommandOptionTypes
  src/SlashCommandOptions.ts
Due: eslint --cache --fix

feat(SlashCommandOptions): accept ApplicationCommandOptionTypes for command options (#4)
  src/SlashCommandOptions.ts
  src/SlashCommandOptionsType.ts
  src/command/SingleSlashCommand.ts
Due: eslint --cache --fix

readme: remove the warning message
  README.md
Due: none

🔖 bump version to 0.1.0
  package-lock.json
  package.json
Due: prettier --write

readme: update node.js badge
  README.md
Due: none

🔧 update prettier settings
  .prettierrc
  example/src/commands/picture.ts
  example/src/commands/ping.ts
  example/src/commands/settings/dailycat.ts
  example/src/commands/settings/language.ts
  example/src/index.ts
  src/ChoiceUtils.spec.ts
  src/ChoicesUtils.ts
  src/SlashCommandCallback.ts
  src/SlashCommandManager.ts
  src/SlashCommandOptions.ts
  src/SlashCommandOptionsType.ts
  src/command/GroupSlashCommand.ts
  src/command/SingleSlashCommand.ts
  src/command/SlashCommand.ts
  src/command/index.ts
  src/data/GroupData.ts
  src/data/SlashCommandData.ts
  src/data/index.ts
  src/index.ts
  src/utils/typeguard.ts
Due: eslint --cache --fix

style: update prettier settings
  .prettierrc
  example/src/commands/picture.ts
  example/src/commands/ping.ts
  example/src/commands/settings/dailycat.ts
  example/src/commands/settings/language.ts
  example/src/index.ts
  src/ChoiceUtils.spec.ts
  src/ChoicesUtils.ts
  src/SlashCommandCallback.ts
  src/SlashCommandManager.ts
  src/SlashCommandOptions.ts
  src/SlashCommandOptionsType.ts
  src/command/GroupSlashCommand.ts
  src/command/SingleSlashCommand.ts
  src/command/SlashCommand.ts
  src/command/index.ts
  src/data/GroupData.ts
  src/data/SlashCommandData.ts
  src/data/index.ts
  src/index.ts
  src/utils/typeguard.ts
Due: eslint --cache --fix

⬆️ update dependencies
  package-lock.json
Due: prettier --write

📌 set discord.js version to 13.2.0
  package.json
Due: prettier --write

🐛 fix conflict with type change
  src/command/GroupSlashCommand.ts
  src/command/SingleSlashCommand.ts
Due: eslint --cache --fix

Deps: update dependencies (#6)
  package-lock.json
  package.json
  src/command/GroupSlashCommand.ts
  src/command/SingleSlashCommand.ts
Due: eslint --cache --fix, prettier --write

🏷️ Update command type to match all kind of application commands
  src/command/AppCommand.ts
  src/command/MessageCommand.ts
  src/command/SlashCommand.ts
  src/command/UserCommand.ts
  src/command/index.ts
Due: eslint --cache --fix

🏷️ add Message/UserCommand data type and callback
  src/MessageCommandCallback.ts
  src/UserCommandCallback.ts
  src/command/MessageCommand.ts
  src/command/UserCommand.ts
  src/data/MessageCommandData.ts
  src/data/UserCommandData.ts
Due: eslint --cache --fix

✨ SlashCommandManager : load all kind of command
  src/SlashCommandManager.ts
Due: eslint --cache --fix

✨ User/MessageCommand#define
  src/command/MessageCommand.ts
  src/command/UserCommand.ts
Due: eslint --cache --fix

📝 update example project
  example/package-lock.json
  example/package.json
  example/src/commands/message/repeat.ts
  example/src/commands/slash/picture.ts
  example/src/commands/slash/ping.ts
  example/src/commands/slash/settings/dailycat.ts
  example/src/commands/slash/settings/language.ts
  example/src/commands/user/hi.ts
  example/src/index.ts
Due: eslint --cache --fix, prettier --write

🚨 fix lint warnings
  src/command/MessageCommand.ts
  src/command/UserCommand.ts
Due: eslint --cache --fix

Feat: application command (#7)
  example/package-lock.json
  example/package.json
  example/src/commands/message/repeat.ts
  example/src/commands/slash/picture.ts
  example/src/commands/slash/ping.ts
  example/src/commands/slash/settings/dailycat.ts
  example/src/commands/slash/settings/language.ts
  example/src/commands/user/hi.ts
  example/src/index.ts
  src/MessageCommandCallback.ts
  src/SlashCommandManager.ts
  src/UserCommandCallback.ts
  src/command/AppCommand.ts
  src/command/MessageCommand.ts
  src/command/SlashCommand.ts
  src/command/UserCommand.ts
  src/command/index.ts
  src/data/MessageCommandData.ts
  src/data/UserCommandData.ts
Due: eslint --cache --fix, prettier --write

♻️ ChoicesUtils as static class
  src/ChoicesUtils.ts
Due: eslint --cache --fix

📝 ChoicesUtils: add example
  src/ChoicesUtils.ts
Due: eslint --cache --fix

Refactor(ChoicesUtils): static class + doc examples (#10)
  src/ChoicesUtils.ts
Due: eslint --cache --fix

✨ SlashCommand option channelTypes field
  src/SlashCommandCallback.ts
  src/SlashCommandOptions.ts
  src/SlashCommandOptionsType.ts
Due: eslint --cache --fix

📝 add channelTypes example
  example/src/commands/slash/hello.ts
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.ts
  prettier --write: any of: *.json
